:root {
  --scroll-bar-color: #ffFFFF;
  --background-color: transparent;
  --explorer-background: #19191900;
  --folders-title-color: #ff55aa;
  --player-background: #00000088;
  --titlebar-background-color: #000000bb;
  --folder-background: transparent;
  --border-colors: #222;
}